@page "/flashcard/complex"
@rendermode InteractiveServer

<div class="flashcard-container">

    <div class="flashcard" >
        <div class="text-container">
            <div class="phrase">@englishPhrase</div>
            <div class="description">@description.</div>
        </div>
    </div>
  
    <div class="input-container">
        <div class="answer-container">
            <label for="answer">Answer</label>
            <input @oninput="UpdateUserAnswer" @onkeydown="RevealAnswerFromKeyPress" @bind="userAnswer" class="answer-input" spellcheck="false" type="text" id="answer" name="answer" maxlength="255" autocomplete="off"/>
        </div>
        <div class="submit-container">
            <button @onclick="RevealAnswerCard" class="verify-btn">Verify</button>
            <p>You typed: @userAnswer</p>
        </div>
        
    </div>
   
    <div class="flashcard-answer @revealClass @revealColorClass">
        <div class="phrase-answer">@spanishPhraseAnswer</div>
    </div>

</div>


@code
{
    private string description = "Adj";
    private string englishPhrase = "Unfortuenately";
    private string spanishPhraseAnswer = "Desafortunademente";
    private string revealClass => isRevealed ? "reveal" : "";
    private bool isCorrect = false;

    // Public Bindings
    public string userAnswer { get; set; } = "";
    public string revealColorClass => isCorrect ? "correct" : "wrong";
    public bool isRevealed { get; set; } = false;


    private void RevealAnswerCard()
    {
        CheckAnswerMatchResult();
        isRevealed = true;
        ClearUserInput();

    }

    private void RevealAnswerFromKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            CheckAnswerMatchResult();
            isRevealed = true;
            ClearUserInput();
        }


    }

    private void CheckAnswerMatchResult()
    {
        if (String.Equals(userAnswer.Trim(), spanishPhraseAnswer, StringComparison.OrdinalIgnoreCase))
            isCorrect = true;
        else
            isCorrect = false;
    }

    private void UpdateUserAnswer(ChangeEventArgs e)
    {
        userAnswer = e.Value?.ToString() ?? string.Empty;
    }

    private void ClearUserInput()
    {
        userAnswer = "";
    }

}
